body {
  background-color: #F9F4B7;
}

td {
  text-align: center;
}

#myf1 {
  font-family: "Lucida Console", "Courier New", monospace;
}

#myc1 {
  width: 15px;
  height: 15px;
  border: solid white;  
  border-width: 0 4px 4px 0;  
  transform: rotate(45deg);  
}

#myb1 {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #666699;
  border: none;
  color: #F9F4B7;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  outline:none;
  margin-left: 3px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#myb1:hover {
  background-color: #992C15;
}

#myh1 {
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 0;
}

#myh2 {
  color: blue;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 0;
}

input[type=text] {
  padding: 2px;
  border: 2px solid #eee;
  margin-left: 3px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: inherit;
  font-size: inherit;
}

input[type=text]:hover {
  background-color: #Ffe477;
}

button[type=button] {
  background-color: #e7e7e7; 
  color: black;
  border: none;
  border-radius: 4px;
  padding: 0px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

button[type=button]:hover {
  background-color: #992C15;
  color: #F9F4B7;
}
